@model TDG_SICACI.Models.Consultar_OrganizacionModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



      
      
<h2>Organizaci&oacuten</h2>

<br/>
 <div class="row">

 <div class="col-md-10">
 
<div class="row">
  <div class="col-md-4">
       <img  style="max-width: 100%; max-height:100%;" src="@Model.logo" alt="Logo">
  </div>
  <div class="col-md-8">
      <h1>@Model.nombre</h1>
      <h3>@Model.eslogan</h3>
      <br/>
      <hr/>
  
  </div>
 
</div>

<div class ="row">
    <div class ="col-md-12">
        <dl class="dl-horizontal">
            <dt>Alcance:</dt>
            <dd>@Model.alcance <hr/></dd>

            <dt>Misi&oacuten:</dt>
            <dd>@Model.mision <hr/></dd>

            <dt>Visi&oacuten:</dt>
            <dd>@Model.vision <hr/></dd>

        </dl>
    </div>
</div>


<div class ="row">
        <div class ="col-md-12">
          
            <dl class="dl-horizontal">
                <dt>Valores:</dt>
                @if (Model.valores != null && Model.valores.Count > 0) 
                {
                   foreach(var targetValor in Model.valores)
                    {
                     
                     <dd>@targetValor.valor
                         <ul>
                            <li>@targetValor.descripcion</li>
                        </ul>
                          <hr/></dd>
                    } 
                }
            </dl>
        </div>
    
</div>
<div class ="row">
       <div class ="col-md-12">
           <dl class="dl-horizontal">
                <dt>Politicas:</dt>

                 @if (Model.politicas != null && Model.politicas.Count > 0) 
                 {
                    foreach(var targetPolitica in Model.politicas)
                    {
                     
                     <dd>@targetPolitica.politica
                         <ul>
                            <li>@targetPolitica.descripcion
                                <ul>
                                    @if(targetPolitica.Objetivos != null && targetPolitica.Objetivos.Count > 0)
                                    {
                                       foreach (var targetObjetivo in targetPolitica.Objetivos) 
                                        {
                                        <li>@targetObjetivo</li>
                                        } 
                                    }
                                </ul>
                            </li>
                        </ul>
                          <hr/></dd>
                    } 
                 }

                 

            </dl>
        </div>
</div>
</div>

 <div class="col-md-2">
     <a href="@Url.Action("Modificar")" class="btn btn-success btn-block btn-md pull-right" role="button">  <span class="glyphicon glyphicon-pencil"></span> Modificar</a>
     <br/> <br/>
      
             @if (Model.versionesAnteriores != null && Model.versionesAnteriores.Count > 0) 
                 {
                   <a href="@Model.versionesAnteriores.First()" class="btn btn-link btn-sm">@Model.versionesAnteriores.First() &nbsp;&nbsp<span class="glyphicon glyphicon-chevron-right"></span></a><br/>
                   
                   <button id="btnList" type="button" class="btn btn-default btn-xs  btn-block"> Versiones anteriores &nbsp;&nbsp <span class="glyphicon glyphicon-list"></span>   </button>
 
                   <ul id="list">
                    @foreach (var targetVersion in Model.versionesAnteriores)
                    {
                        if (!targetVersion.Equals(Model.versionesAnteriores.First()))
                        {
                           <li style="list-style-type: none;">
                            <a href="@targetVersion" class="btn btn-link btn-sm">@targetVersion &nbsp;&nbsp<span class="glyphicon glyphicon-chevron-right"></span></a><br/>
                           </li>  
                        }

                    } 
                    </ul>

                 }
 </div>
 </div>   

  

 <script type="text/javascript">
        var $list;
        $(function () {
            $list = $('#btnList');
            $list.on("click", function () {
                $('#list').toggle();
            });
        });
</script>