@model TDG_SICACI.Models.Modificar_organizacionModel
@{
    ViewBag.Title = "Modificar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counterValor = 0;
    int counterPolitica = 0;
    int counterObjetivo = 0;


}

<h2>Modificar Organizaci&oacuten</h2>

<div class="panel panel-default">
  <div class="panel-body">
   @using (Html.BeginForm("Modificar", "Organizacion", null, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "ModificarOrganizacionFormId" }))
   {
    @Html.FormularioFor("#ModificarOrganizacionFormId"
        ).AddFieldFor(m => m.nombre
        ).AddFieldFor(m => m.eslogan
        ).AddFieldFor(m => m.logo
        ).AddFieldFor(m => m.alcance
        ).AddFieldFor(m => m.mision
        ).AddFieldFor(m => m.vision
        )
       
      
       
       
       <div class="form-group">
          <label for="Valores" class="col-md-3 control-label form-horizontal">Valores</label>
          <div class="col-md-9 ">
              <table id="tablaValores" class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="col-md-4">Valor</th>
                            <th class="col-md-8">
                                <span class="col-md-6">Descripción</span> 
                                <span class="col-md-6">
                                    <input class="pull-right" style="width:33px;" name="button" type=button onclick="agregarValor()" value=" + " > 
                                    <input class="pull-right" style="width:33px;" name='button' type=button onclick="borrarUltimoValor()" value=" - " >
                                </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                       @{counterValor = 0;}
                       @if (Model.valores != null && Model.valores.Count > 0)
                       {
                           foreach (var targetValor in Model.valores)
                           {
                               counterValor++;
                                <tr>
                                    <td><input type="text" name="resp-valor-@counterValor" maxlength="80" class="form-control input-sm" value="@targetValor.valor"></td>
                                    <td><input type="text" name="resp-valor-descripcion-@counterValor" maxlength="200" class="form-control input-sm" value="@targetValor.descripcion" ></td>
                                </tr>
                           }
                       }
                    </tbody>
                </table>
          </div>
      </div>
   
   
       
        <div class="form-group">
          <label for="Politicas" class="col-md-3 control-label form-horizontal">Politicas</label>
          <div class="col-md-9 ">
              <table id="tablaPoliticas" class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="col-md-4">Politica</th>
                            <th class="col-md-6">
                                <span class="col-md-6">Descripción</span> 
                                <span class="col-md-6">
                                    <input class="pull-right" style="width:33px;" name="button" type=button onclick="agregarPolitica()" value=" + " >
                                    <input class="pull-right" style="width:33px;" name='button' type=button onclick="borrarUltimaPolitica()" value=" - " >
                                </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{counterPolitica = 0;}
                        @if (Model.politicas != null && Model.politicas.Count > 0)
                        {
                            foreach (var targetPolitica in Model.politicas)
                            {
                                counterPolitica++;
                                <tr>
                                    <td><input type="text" name="resp-politica-@counterPolitica" maxlength="500" class="form-control input-sm" value="@targetPolitica.politica"></td>
                                    <td>
                                        <div><input type="text" name="resp-politica-descripcion-@counterPolitica" maxlength="500" class="form-control input-sm" value="@targetPolitica.descripcion"></div>
                                        <table id = "tablaObjetivos-@counterPolitica" class="table table-condensed">
                                            <thead>
                                                <tr>
                                                <th class="col-md-10">
                                                    <span class="col-md-6">Objetivos</span> 
                                                    <span class="col-md-6">
                                                        <input class="pull-right" style="width:33px;" name="button" type=button onclick="agregarObjetivoAPolitica(@counterPolitica)" value=" + " >
                                                        <input class="pull-right" style="width:33px;" name='button' type=button onclick="borrarUltimoObjetivoAPolitica(@counterPolitica)" value=" - " >
                                                    </span>
                                                </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{counterObjetivo = 0;}
                                                
                                                @if(targetPolitica.Objetivos != null && targetPolitica.Objetivos.Count > 0)
                                                {
                                                    foreach (var targetObjetivo in targetPolitica.Objetivos)
                                                        {
                                                            counterObjetivo++;
                                                            <tr>
                                                                <td>
                                                                    <input type="text" name="resp-politica-@counterPolitica-objetivo-@counterObjetivo" maxlength="500" class="form-control input-sm" value="@targetObjetivo" >
                                                                </td>
                                                            </tr> 
                                                        }
                                                }
                                     </tbody>
                                </table>
                            </td>
                        </tr>  
                            }
                        }
                       
                        
                    </tbody>
                </table>
          </div>
      </div>
       
      <div class="row">
        <div class="col-md-12">
            <div style="width: 300px; margin: 0 auto;">
               <input class="btn btn-primary btn-block " id="save-organizacion" type="submit" value="Crear una nueva versión">
            </div>
        </div>
      </div>
       
       
   } 

  
  </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#save-organizacion').on('click', function(e) {
            e.preventDefault();
            var $form = $('#ModificarOrganizacionFormId');
            
            /*STEP 1: Validamos los datos que se encuentran en el formulario*/
            if ($form.valid() == false) {
                $.addNotificacion({ titulo: 'Formulario Incompleto', msj: 'No se puede continuar debido a que algunos campos del formulario poseen errores. Por favor, corrija estos errores y vuelva a intentarlo.', icono: 'FORM_INCOMPLETE' });
                return;
            }

            /*STEP 2: Validamos que al menos se haya definido un Valor*/
            if ($.validateArrays() == false) {
                $.addNotificacion({ titulo: 'Formulario Incompleto', msj: 'Existen campos que todavia poseen errores. Por favor, corrija y vuelva a intentarlo.', icono: 'FORM_INCOMPLETE' });
                return;
            }

            if (!confirm('¿Esta seguro que desea crear una nueva versión de la información de la organización?'))
                return;

            /*STEP 3: Preparamos los datos para ser enviados al servidor*/
            var dataForm = new FormData($form[0]);

            /*Preparamos los VALORES de la organización*/
            for (i = 1; i <= ($('input[name^="resp-valor-"]').size() / 2); i++) { 
                dataForm.append('Valor_Texto', $('input[name="resp-valor-' + i +'"]').val());
                dataForm.append('Valor_Descripcion', $('input[name="resp-valor-descripcion-' + i +'"]').val());
            }

            /*Preparamos los POLITICAS de la organización*/
            for (i = 1; i <= $('input[name^="resp-politica-descripcion-"]').size(); i++) { 
                dataForm.append('Politica_Texto', $('input[name="resp-politica-' + i +'"]').val());
                dataForm.append('Politica_Descripcion', $('input[name="resp-politica-descripcion-' + i +'"]').val());

                /*Ahora empezamos a recorrer los objetivos definidos en esta politica*/
                for (j = 1; j <= $('input[name^="resp-politica-'+i+'-objetivo-"]').size(); j++) {
                    dataForm.append('Politica_Objetivos', $('input[name="resp-politica-'+i+'-objetivo-'+j+'"]').val());
                    dataForm.append('Politica_Objetivos_TextPolitica', $('input[name="resp-politica-' + i +'"]').val());
                }
            }

            $(this).sendData({
                overwriteURL: '/Organizacion/_save_organizacion',
                overwriteData: dataForm,
                contentType: false,
                processData: false
            });
        });

    });

    $.validateArrays = function () {
        var estado = true;
        var cadena = '',
            $element;

        /*STEP 1: Validamos que los campos de VALORES no se encuentren vacios*/
        $('input[name^="resp-valor-"], input[name^="resp-politica-"]').each(function (key) {
            cadena = this.value;
            $element = $(this);

            //Ante de continuar, limpiamos el elemento
            $element.parent().children('label').remove();
            $element.removeClass('input-validation-error');

            /*RULE: Campo de texto vacio*/
            if (!$.isNullOrWhiteSpace(cadena, $element)) estado = false;
        });

        return estado;
    }

    $.isNullOrWhiteSpace = function (cadena, $element) {
        if (cadena.trim() == '') {
            $element.addClass('input-validation-error');
            $element.parent().append('<label class="table-field-error" for="' + this.name + '">Campo invalido</label>');
            return false;
        }
        return true;
    }

    function agregarValor() {
        var tr, td, tablaValores;
        tablaValores = document.getElementById('tablaValores');
        cont = tablaValores.rows.length;
        tr = tablaValores.insertRow(cont);
        td = tr.insertCell(tr.cells.length);
        td.innerHTML = "<input type='text' maxlength='80' name='resp-valor-" + cont + "' class='form-control input-sm'>";
        td = tr.insertCell(tr.cells.length);
        td.innerHTML = "<input type='text' maxlength='200' name='resp-valor-descripcion-" + cont + "' class='form-control input-sm'>";
    }
    function borrarUltimoValor() {
        var tablaValores;
        tablaValores = document.getElementById('tablaValores');
        ultimo = tablaValores.rows.length - 1;
        if (ultimo > 1) {
            tablaValores.deleteRow(ultimo);
        }
    }

    function agregarPolitica() {
        var tr, td, tablaPoliticas;
        tablaPoliticas = document.getElementById('tablaPoliticas');
        cont = tablaPoliticas.rows.length;
        tr = tablaPoliticas.insertRow(cont);
        td = tr.insertCell(tr.cells.length);
        td.innerHTML = "<input type='text' maxlength='500' name='resp-politica-" + cont + "' class='form-control input-sm'>";
        td = tr.insertCell(tr.cells.length);
        td.innerHTML = "<div><input type='text' maxlength='500' name='resp-politica-descripcion-" + cont + "' class='form-control input-sm'></div>" +
                       "<table id = 'tablaObjetivos-" + cont + "' class='table table-condensed'>" +
                                   "<thead><tr><th class='col-md-12'><span class='col-md-6'>Objetivos</span>"+ 
                                          "<span class='col-md-6'>"+
                                          "<input class='pull-right' style='width:33px;' name='button' type=button onclick='agregarObjetivoAPolitica(" + cont + ")' value=' + ' >" +
                                          "<input class='pull-right' style='width:33px;' name='button' type=button onclick='borrarUltimoObjetivoAPolitica(" + cont + ")' value=' - ' >" +
                                          "</span>"+
                                          "</th>" +
                                   "</tr></thead>"+
                                    "<tbody><tr><td><input type='text' name='resp-politica-"+ cont +"-objetivo-1' maxlength='500' class='form-control input-sm' ></td></tr></tbody>" +
                                "</table>";
    }
    function borrarUltimaPolitica() {
        var tablaPoliticas;
        tablaPoliticas = document.getElementById('tablaPoliticas');
        ultima = tablaPoliticas.rows.length - 1;
        if (ultima > 1) {
            tablaPoliticas.deleteRow(ultima);
        }
    }


    function agregarObjetivoAPolitica(politica) {
        var tr, td, tablaObjetivos;
        tablaObjetivos = document.getElementById("tablaObjetivos-" + politica);
        cont = tablaObjetivos.rows.length;
        tr = tablaObjetivos.insertRow(cont);
        td = tr.insertCell(tr.cells.length);
        td.innerHTML = "<input type='text' name='resp-politica-"+ politica +"-objetivo-"+ cont +"' maxlength='500' class='form-control input-sm' >";
    }

    function borrarUltimoObjetivoAPolitica(politica) {
        var tablaObjetivos;
        tablaObjetivos = document.getElementById("tablaObjetivos-" + politica);
        ultimo = tablaObjetivos.rows.length - 1;
        if (ultimo > 1) {
            tablaObjetivos.deleteRow(ultimo);
        }
    }
</script>