@model TDG_SICACI.Models.Consultar_ProyectoModel
@{
    ViewBag.Title = "Consultar Proyecto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<a href="@Url.Action("Index")" class="btn btn-default" role="button">  <span class="glyphicon glyphicon-chevron-left"></span></a>

<h2>Consultar Proyecto</h2>

<br/>
<hr/>

<div class = "row">
    <div class = "col-xs-12 col-sm-12 col-md-10 col-lg-10">
        
<dl class="dl-horizontal">
  <dt>Código del Proyecto:</dt>
  <dd>@Model.id <hr/></dd>
  <dt>Nombre del Proyecto:</dt>
  <dd>@Model.nombre <hr/></dd>
  <dt>Resp. de la ejecución:</dt>
  <dd>@Model.responableEjecucion <hr/></dd>
  <dt>Resp. de la aprobación:</dt>
  <dd>@Model.responableAprobacion <hr/></dd>
  <dt>Objetivo(s) asociado(s):</dt>
  <dd>
      <ul class="list-unstyled">
           @foreach (string objetivo in Model.objetivosAsociados)
        {
           <li>- @objetivo</li>
        }
      
      </ul> 
      <hr/></dd>
  <dt>Finding(s) asociado(s):</dt>
  <dd> 
      <ul class="list-unstyled">
           @foreach (string finding in Model.findingsAsociados)
        {
           <li>- @finding</li>
        }
      
      </ul>
       <hr/></dd>
  <dt>Fecha de Inicio:</dt>
  <dd>@Model.fechaInicio <hr/></dd>
  <dt>Fecha de Finalización:</dt>
  <dd>@Model.fechaFinalizacion <hr/></dd>
  <dt>Estado de aprobacion:</dt>
  <dd>@Model.aprobacion <hr/></dd>
  <dt>Creador del Proyecto:</dt>
  <dd>@Model.CreadorProyecto <hr/></dd>
  <dt>Fecha de Creación:</dt>
  <dd>@Model.FechaCreacion <hr/></dd>
</dl>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <a id="btnTareas" type="button" class="btn btn-success btn-block btn-md pull-right" href="/Tarea/index?id=@Model.id" > 
                   <span class="glyphicon glyphicon-list"></span> Gestionar Tareas    
                </a>
                <button data-jerti-form="" id="btnModificarFindings" class="btn btn-success btn-block btn-md pull-right" data-toggle="modal" data-jf-load="@Url.Action("ModificarFindingsAsociados", "proyecto")?id=@Model.id" data-jf-modal="#modalModificarFindings"><span class="glyphicon glyphicon-refresh"></span> Actualizar Findings</button>

    </div>
</div>



@Html.bootstrapModal("modalModificarFindings", "Modificar Findings", "#btnModificarFindings")