@model Grid_ProyectoViewModel
@{
    
    Layout              = "~/Views/Shared/_Layout.cshtml";
    string itemType     = "proyecto";
    string ItemType     = "Proyecto";
    string theItemType  = "el " + ItemType;
    string idField      = "ID";


    jfBSGrid<Grid_ProyectoViewModel> grid = new jfBSGrid<Grid_ProyectoViewModel>(Html, "lst");
    grid.AddColumn(u => u.ID)
        .AddColumn(u => u.NOMBRE_PROYECTO)
        .AddColumn(u => u.RESP_EJECUCION)
        .AddColumn(u => u.FECHA_INICIO)
        .AddColumn(u => u.FECHA_FINALIZACION)
        .AddColumn(u => u.ESTADO_PROYECTO)         
        .RowPrimaryKey(idField)
        .ShowRowNumbers(false)
        .onClick("$.handlerGridOnClick")
        .AjaxLoadData(Url.Action("DataGrid", ItemType));

    string urlAgregar   = string.Format("data-toggle=\"modal\" data-jf-load=\"{0}\"",                       Url.Action("Agregar"));  
    string urlModificar = string.Format("disabled=\"disabled\" data-toggle=\"modal\" data-jf-load=\"{0}\"", Url.Action("Modificar"));
    string urlEliminar  = string.Format("data-jf-url=\"{0}\" disabled=\"disabled\" ",                       Url.Action("Eliminar", ItemType));
  
    ViewBag.Title = "Gestionar "+itemType+"s";
    
}

<h2>Gestionar @(ItemType+"s")</h2>
<div class = "row">
    <div class = "col-xs-12 col-sm-12 col-md-10 col-lg-10">
        @grid.RenderHtml()
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        @Html.jfButton(new JFFormButton("btnAgregar"    , " Agregar "   +ItemType, JFFormButton.JFTipoBoton.Success, true,
            classAditional:     "btn-md pull-right",
            classIcon:          "glyphicon glyphicon-plus",
            attrAditional:      urlAgregar))
        @Html.jfButton(new JFFormButton("btnConsultar"  , " Consultar " +ItemType, JFFormButton.JFTipoBoton.Success, true,
            classAditional:     "btn-md pull-right",
            classIcon:          "glyphicon glyphicon-ok",
            attrAditional:     "disabled=\"disabled\"")) 
        @Html.jfButton(new JFFormButton("btnModificar"  , " Modificar " +ItemType, JFFormButton.JFTipoBoton.Success, true,
            classAditional:     "btn-md pull-right",
            classIcon:          "glyphicon glyphicon-pencil",
            attrAditional:      urlModificar)) 
        @Html.jfButton(new JFFormButton("btnEliminar"   , " Eliminar "  +ItemType, JFFormButton.JFTipoBoton.Success, true,
            classAditional:     "btn-md pull-right",
            classIcon:          "glyphicon glyphicon-trash",
            attrAditional:      urlEliminar))
    </div>
</div>

@Html.bootstrapModal("modalAgregar"     , "Agregar "    +ItemType, "#btnAgregar",JFModalSize.Large)
@Html.bootstrapModal("modalModificar"   , "Modificar "  +ItemType, "#btnModificar")

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/bsGrid/jquery.bs_grid.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bsGrid/jquery.bs_grid.en.js")"></script>
    <script type="text/javascript">
        var $btnNew, $btnCon, $btnElm, $btnMod, $grid;    //Definición de variables globales
        $(function () {
            @grid.GetJavaScript()

            //Instanciamos las variables globales del Script
            $btnNew = $('#btnAgregar');
            $btnCon = $('#btnConsultar');
            $btnMod = $('#btnModificar');
            $btnElm = $('#btnEliminar');

            $grid = $('#lst');
            var id;

            //Configuramos el boton de Eliminar 
            $btnElm.on('click', function (event) {
                event.preventDefault();

                id = $grid.bs_grid('selectedRows', 'get_ids');
                if (confirm('¿Esta seguro que desea eliminar definitivamente este proyecto del sistema? (Esta operación no se puede deshacer)'))
                    $btnElm.sendData({
                        overwriteURL: $btnElm.attr("data-jf-url") + '?@idField=' + id,
                        success: $.reloadGrid
                    });
            });

            //Configuramos el boton de Modificar
            $btnMod.on({
                    parametersDialog: function ()
                        {
                            return '@idField=' + $grid.bs_grid('selectedRows', 'get_ids');
                        },
                    saveSuccess: $.reloadGrid,
                    setParametros: function (e, form)
                        {
                        return form.serialize() + '&@idField=' + $grid.bs_grid('selectedRows', 'get_ids') + '&objetivosAsociados=' + $('#objetivosAsociados').val();
                        }
                });

            //Configuramos el boton de Consultar
            $btnCon.on("click",function(){
                window.location = '@Url.Action("Consultar")' + '?@idField=' + $grid.bs_grid('selectedRows', 'get_ids');
            });

            //Configuramos el boton de Agregar
            $btnNew.on({
                open: function ()
                {
                    $('#myModalLabel').text('Agregar Proyecto');
                },
                saveSuccess: $.reloadGrid,
                setParametros: function (e, form)
                {
                    return form.serialize() + '&objetivosAsociados=' + $('#objetivosAsociados').val();
                }
            });
        });

        $.handlerGridOnClick = function (event, data) {
            $btnElm.removeAttr("disabled");
            $btnMod.removeAttr("disabled");
            $btnCon.removeAttr("disabled");
        }

        $.reloadGrid = function () {
            $btnElm.attr('disabled', 'disabled');
            $btnMod.attr('disabled', 'disabled');
            $btnCon.attr('disabled', 'disabled');
            $grid.bs_grid('displayGrid', 1);
            $grid.bs_grid('selectedRows', 'clear_all_ids');
        }
    </script>