@model TDG_SICACI.Models.Modificar_FindingAsociadosModel
@{

}
<script src="@BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js-partialview")" type="text/javascript"></script>

@using (Html.BeginForm("ModificarFindingsAsociados", "Proyecto", null, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "ModificarFindingsAsociadosFormId" }))
{
    foreach (var targetFinding in Model.findingsAsociados) 
    {
        <div>

        <strong class="primary-font">@targetFinding.TIPO_NOCONFORMIDAD</strong>
            <div class="pull-right">
                 @if (targetFinding.TIPO_CORRECION == "Inmediata") 
                    { 
                      <span class="label label-danger pull-right">@targetFinding.TIPO_CORRECION</span>
                    }
                    else
                    {
                      <span class="label label-warning pull-right">@targetFinding.TIPO_CORRECION</span>
                    }
                <br/>
             <small class="pull-right text-muted">Fecha Creación: @targetFinding.FECHA_CREACION</small>
            </div>
            
       
        <p>@targetFinding.COMENTARIO</p>

        
        <strong class="text-muted">Acción correctiva sugerida:</strong>
        <p class="text-muted">@targetFinding.ACCION_CORRECTIVA_SUGERIDA</p>
        <strong>Usuario: </strong> @targetFinding.USUARIO
        <small class="pull-right text-muted">Fecha Limite: @targetFinding.FECHA_LIMITE</small>
        <br />
        @if(targetFinding.ESTADO == "Pendiente")
        {
          <label class="pull-right"><input type="checkbox" name="checkbox-@targetFinding.ID" data-id-finding="@targetFinding.ID" id="checkbox-@targetFinding.ID" value="Resuelto"> Resuelto </label>
        }
        else
        {
          <label class="pull-right">@targetFinding.ESTADO</label>
        }
        </div>
        
        <hr/>
    } 
}