@model TDG_SICACI.Models.UsuarioModel

@{
    ViewBag.Title = "Agregar Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

<h2>Agregar Usuario</h2>
@using (Html.BeginForm("Agregar", "Usuario", null, FormMethod.Post, new {@class="form-horizontal", role="form", id="AgregarUsuarioFormId"}))
{
    @Html.FormularioFor("#AgregarUsuarioFormId").AddFieldFor(m => m.usuario)
    @Html.FormularioFor("#AgregarUsuarioFormId").AddFieldFor(m => m.nombre)
    @Html.FormularioFor("#AgregarUsuarioFormId").AddFieldFor(m => m.apellido)
    @Html.FormularioFor("#AgregarUsuarioFormId").AddFieldFor(m => m.email)
    @Html.FormularioFor("#AgregarUsuarioFormId").AddFieldFor(m => m.password)
    @Html.FormularioFor("#AgregarUsuarioFormId").AddFieldFor(m => m.rol)
    <div class="pull-right">
    @Html.FormularioFor("#AgregarUsuarioFormId").AddButton(new JFFormButton("btnSend", "<span class=\"glyphicon glyphicon-ok\"></span> Enviar", JFFormButton.JFTipoBoton.Primary, false).SetForm("#AgregarUsuarioFormId"))
    </div>
}