@model IEnumerable<TDG_SICACI.Models.UsuarioModel>
@using GridMvc.Html
@{
    ViewBag.Title = "Gestionar Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string urlModificar = string.Format("data-jf-url=\"{0}\" disabled=\"disabled\" ", Url.Action("Eliminar", "Usuario"));
}

<h2>Gestionar Usuarios</h2>
<div class = "row">
    <div class = "col-xs-12 col-sm-12 col-md-10 col-lg-10">
        @Html.LoadPartialViewAJAX("tableContent", Url.Action("_get_table_user", "Usuario"))
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        @Html.jfButton(new JFFormButton("btnAñadir", " Crear Usuario", JFFormButton.JFTipoBoton.Success, true,
            classAditional: "btn-md pull-right",
            classIcon: "glyphicon glyphicon-plus"))
        @Html.jfButton(new JFFormButton("btnModificar", " Modificar Usuario", JFFormButton.JFTipoBoton.Success, true,
            classAditional: "btn-md pull-right",
            classIcon: "glyphicon glyphicon-pencil",
            attrAditional: string.Format("disabled=\"disabled\" data-toggle=\"modal\" data-jf-load=\"{0}\"", Url.Action("_get_modificar_user"))))
        @Html.jfButton(new JFFormButton("btnEliminar", " Eliminar Usuario", JFFormButton.JFTipoBoton.Success, true,
            classAditional: "btn-md pull-right",
            classIcon: "glyphicon glyphicon-trash",
            attrAditional: urlModificar))
    </div>
</div>
@Html.bootstrapModal("modalModificarUser", "Modificar Usuario", "#btnModificar")

@section Scripts {
    <script type="text/javascript">
        var selectedRow;
        $(function () {
            var $btnElm = $('#btnEliminar'),
                $btnMod = $('#btnModificar'),
                $tableCont = $('#tableContent');

            //Configuramos el boton de Eliminar Usuario
            $btnElm.on('click', function (event) {
                event.preventDefault();
                if (confirm('¿Esta seguro que desea eliminar definitivamente al usuario "' + selectedRow.usuario + '" del sistema?'))
                    $btnElm.sendData({
                        overwriteURL: $btnElm.attr("data-jf-url") + '?usuario=' + selectedRow.usuario,
                        success: function () {//Escribimos el codigo para Recarga la tabla y reflejar los cambios
                            $btnElm.attr('disabled', 'disabled');
                            $btnMod.attr('disabled', 'disabled');
                            $tableCont.loadPartialView();
                        }
                    });
            });

            //Configuramos el boton de Modificar Usuario
            $btnMod.on({
                open: function () {
                    $('#myModalLabel').text('Modificar Usuario - ' + selectedRow.usuario);
                },
                parametersDialog: function () {
                    return 'usuario=' + selectedRow.usuario;
                },
                saveSuccess: function () {
                    $btnElm.attr('disabled', 'disabled');
                    $btnMod.attr('disabled', 'disabled');
                    $tableCont.loadPartialView();
                },
                setParametros: function (e, form) {
                    return form.serialize() + '&usuario=' + selectedRow.usuario;
                }
            });

            //Handler cuando termine la carga de la tabla
            $tableCont.on('loadSuccess', function (e) {
                //Handler del RowSelect
                pageGrids.usuariosTable.onRowSelect(function (e) {
                    $btnElm.removeAttr("disabled");
                    $btnMod.removeAttr("disabled");
                    selectedRow = e.row;
                });
            });
        });
    </script>
}

