@{
    ViewBag.Title = "Añadir Pregunta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear pregunta para el Self-Assessment</h2>
<div class="col-md-8">
    <div>
        <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title">Tipo de Pregunta</h3></div>
          <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-5 control-label">Tipos de pregunta:</label>
                    <div class="col-md-7">
                        <select id="cmbTipo" name="cmbTipo" class="form-control" >
                            <option value="0" selected="selected">Seleccione una opción...</option>
                            <option value="1" data-load-form="@Url.Action("agregarPreguntaAbierta")">Pregunta Abierta</option>
                            <option value="2" data-load-form="@Url.Action("agregarOpcionMultiple")">Pregunta de opción multiple</option>
                            <option value="3" data-load-form="@Url.Action("agregarSeleccionMultiple")">Pregunta de selección multiple</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label">¿Es una pregunta de GIDEM? </label>
                    <div class="col-md-7">
                        <label class="radio-inline"><input type="radio" name="opt-padd" value="S"> Si</label>
                        <label class="radio-inline"><input type="radio" name="opt-padd" value="N" checked> No</label>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div>
        @Html.LoadPartialViewAJAX("cont-pregunta", Url.Action("_nueva_pregunta"), false)
    </div>
    <div>
        @Html.LoadPartialViewAJAX("cont-respuestas", Url.Action("_multiple_preguntas"))
    </div>
</div>
<div class="col-md-4">
    @Html.LoadPartialViewAJAX("cont-norma-iso", Url.Action("_norma_iso"))
</div>
<div class="col-md-12">
    <div style="width: 200px; margin: 0 auto;">
    @Html.jfButton(new JFFormButton("crear-pregunta", "Crear Pregunta", 
        JFFormButton.JFTipoBoton.Primary, true))
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        var $cmbTipo, $opt, $partialView, $radioPAdd;
        $(function () {
            $cmbTipo = $('#cmbTipo');
            $partialView = $('#cont-pregunta');
            $radioPAdd = $('input[name=opt-padd]');

            $cmbTipo.on('change', $.loadFormPregunta);  //Handler cuando cambie el ComboBox
            $radioPAdd.on('change', $.loadFormPregunta); //Handler cuando se cambie "Pregunta GIDEM"

            //Handler para añadir el parametro de Pregunta Adicional cuando se cargue la Vista Parcial
            $partialView.on('setParametros', function () {
                return 'padd=' + $radioPAdd.filter(':checked').val();
            });

            $('#crear-pregunta').on('click', function (e) {
                e.preventDefault();

                var fields = $('input[name^="resp-descripcion"]').serializeArray();
                var fields2 = $('input[name^="resp-comentario"]').serializeArray();

                $.validateResponses();
            });
        });

        $.loadFormPregunta = function () {
            $opt = $cmbTipo.children("select option:selected");
            if ($opt.val() == 0)
                $partialView.empty();
            else {
                //$partialView.attr('data-jerti-partialview', $opt.attr('data-load-form'));
                $partialView.loadPartialView();
            }
        }

        /******************************************************/
        /*Funciones y metodos para la definición de Respuestas*/
        /******************************************************/
        $.validateResponses = function () {
            var estado = true;
            var cadena = '',
                $element;

            /*STEP 1: Validamos que los campos "DESCRIPCIÓN" no se encuentren vacios*/
            $('input[name^="resp-descripcion"]').each(function (key) {
                cadena = this.value;
                $element = $(this);

                //Ante de continuar, limpiamos el elemento
                $element.parent().children('label').remove();
                $element.removeClass('input-validation-error');

                /*RULE: Campo de texto vacio*/
                if (!$.isNullOrWhiteSpace(cadena, $element)) estado = false;
            });

            /*STEP 2: Validamos que los campos "ORDEN" no se encuentren vacios*/
            $('input[name^="resp-orden"]').each(function (key) {
                cadena = this.value;
                $element = $(this);

                //Ante de continuar, limpiamos el elemento
                $element.parent().children('label').remove();
                $element.removeClass('input-validation-error');

                /*RULE: Número valido*/
                if (!$.isNumber(cadena, $element)) estado = false;
            });

        }

        $.isNullOrWhiteSpace = function (cadena, $element) {
            if (cadena.trim() == '') {
                $element.addClass('input-validation-error');
                $element.parent().append('<label class="table-field-error" for="' + this.name + '">Este campo no puede quedar vacio</label>');
                return false;
            }
            return true;
        }

        $.isNumber = function (cadena, $element) {
            if (isNaN(parseInt(cadena))) {
                $element.addClass('input-validation-error');
                $element.parent().append('<label class="table-field-error" for="' + this.name + '">Invalido</label>');
                return false;
            }
            return true;
        }

        $.buildArrayResponse = function (data) {
            for (var i = 0; i < data.longitud ; i++) {
                var singlechain = $input.filter('[name="HotelChain' + hotelchains[i] + '"]').val();
                console.log(singlechain);
            };
        }
    </script>
}