@model Grid_PreguntasViewModel
@{
    ViewBag.Title = "Gestionar Preguntas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string urlModificar = string.Format("data-jf-url=\"{0}\" disabled=\"disabled\" ", Url.Action("Eliminar", "pregunta"));

    //Definimos la GRID para poder listar las preguntas
    jfBSGrid<Grid_PreguntasViewModel> grid = new jfBSGrid<Grid_PreguntasViewModel>(Html, "lstPreguntas");
    grid.AddColumn(p => p.ID_Jerarquia)
        .AddColumn(p => p.Arbol)
        .AddColumn(p => p.Descripcion_Jerarquia)
        .AddColumn(p => p.Tipo_Pregunta)
        .AddColumn(p => p.Asociado_A)
        .AddColumn(p => p.GIDEM)
        .RowPrimaryKey("ID_Jerarquia")
        .ShowRowNumbers(false)
        .onClick("$.handlerGridOnClick")
        .AjaxLoadData(Url.Action("_get_grid_preguntas", "Pregunta"));
}

<h2>Gestionar Preguntas</h2>
<div class = "row">
    <div class = "col-xs-12 col-sm-12 col-md-10 col-lg-10">
        @grid.RenderHtml()
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <a class="btn btn-md pull-right btn-success btn-block" href="@Url.Action("AgregarPregunta", "Pregunta")">Agregar Pregunta</a>
       @Html.jfButton(new JFFormButton("btnModificar", " Modificar orden", JFFormButton.JFTipoBoton.Success, true,
            classAditional: "btn-md pull-right",
            classIcon: "glyphicon glyphicon-pencil",
            attrAditional: string.Format("disabled=\"disabled\" data-toggle=\"modal\" data-jf-load=\"{0}\"", Url.Action("_get_modificar_pregunta"))))
       @Html.jfButton(new JFFormButton("btnEliminar", " Deshabilitar Pregunta", JFFormButton.JFTipoBoton.Success, true,
            classAditional: "btn-md pull-right",
            classIcon: "glyphicon glyphicon-trash",
            attrAditional: urlModificar))
    </div>
</div>
@Html.bootstrapModal("modalModificarPregunta", "Modificar Pregunta", "#btnModificar")

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/bsGrid/jquery.bs_grid.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bsGrid/jquery.bs_grid.en.js")"></script>
    <script type="text/javascript">
        var $btnElm, $btnMod, $grid;    //Definición de variables globales
        $(function () {
            @grid.GetJavaScript()
            $btnElm = $('#btnEliminar');
            $btnMod = $('#btnModificar');           
            $grid = $('#lstPreguntas');
            var id;

            //Configuramos el boton de Eliminar Pregunta
            $btnElm.on('click', function (event) {
                event.preventDefault();

                id = $grid.bs_grid('selectedRows', 'get_ids');
                if (confirm('¿Esta seguro que desea eliminar la pregunta "' + id + '" del sistema?'))
                    $btnElm.sendData({
                        overwriteURL: $btnElm.attr("data-jf-url") + '?Arbol=' + id,
                        success: $.reloadGrid
                    });
            });

            //Configuramos el boton de Modificar Pregunta
            $btnMod.on({
                open: function () {
                    $('#myModalLabel').text('Modificar Pregunta - ' + $grid.bs_grid('selectedRows', 'get_ids'));
                },
                parametersDialog: function () {
                    return 'ID=' + $grid.bs_grid('selectRows', 'get_ids');
                        //+ 'Orden=' + $grid.bs_grid('selectedRows', 'get_Orden');
                    //return 'ID=' + $grid.bs_grid('selectRows', 'get_ids');
                },
                saveSuccess: $.reloadGrid,
                setParametros: function (e, form) {
                    return form.serialize() + '&ID=' + $grid.bs_grid('selectedRows', 'get_ids');
                        //+ '&Orden=' + $grid.bs_grid('selectedRows', 'get_Orden');
                    //return form.serialize() + '&ID=' + $grid.bs_grid('selectedRows', 'get_ids');
                    }
            });

            //$("#lstPreguntas").bs_grid({
            //    onDisplay: function () {
            //        $('.iso-gidem').each(function (index) {
            //            if ($(this).text() == 'S') {
            //                $(this).addClass('is-norma-iso');
            //            } else {
            //                $(this).addClass('is-gidem');
            //            }
            //        });
            //    }
            //});
            $("#lstPreguntas").bs_grid({
                onDisplay: function () {
                    //$('.iso-gidem').each(function (index) {
                    //    if ($(this).text() == 'S') {
                    //        $(this).addClass('is-norma-iso');
                    //    } else {
                    //        $(this).addClass('is-gidem');
                    //    }
                    //});
                }
            });
        });

        $.handlerGridOnClick = function (event, data) {
            $btnElm.removeAttr("disabled");
            $btnMod.removeAttr("disabled");
        }

        $.reloadGrid = function () {
            $btnElm.attr('disabled', 'disabled');
            $btnMod.attr('disabled', 'disabled');
            $grid.bs_grid('displayGrid', 1);
        }
    </script>
}


