@model agregarArchivoAdjunto

<script src="@BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js-partialview")" type="text/javascript"></script>

@using (Html.BeginForm("_adjuntarArchivo", "Tarea", null, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "adjuntarArchivoFormId" }))
{
    @Html.FormularioFor("#adjuntarArchivoFormId"
    ).AddFieldFor(m => m.nombre
    ).AddFieldFor(m=>m.documento
    );
} 



<hr/>
  <div class="row">

      <div class="col-md-3" style ="text-align:right">
      <label> Archivos Adjuntos </label> 
      </div>
       <div class="col-md-9">
           <div class="row">
               <div class ="col-md-12">
                   <div class =" panel panel-default">
                       <div class="panel-heading">
                            <a id="btnListFiles" type="button" class="btn btn-link btn-xs btn-block" style="text-align:left"> 
                            <span class="glyphicon glyphicon-list"></span>   
                            </a>
                            @*<a id="btnAdd" type="button" class="btn btn-link btn-xs pull-right" style="color:green"> 
                            <span class="glyphicon glyphicon-plus"></span> Agregar Archivo   
                            </a>*@
                       </div>
                   </div>     
               </div>  
           </div>
           <div class="row">
               <div class="col-md-12">
                    <div  id="Fileslist"   class="list-group">
                    @if (Model.archivos != null && Model.archivos.Count > 0) 
                    {
                        foreach (var targetArchivo in Model.archivos)
                        { 
                            
                           <div class="list-group-item" id="group-@targetArchivo.fileName.Split('.').FirstOrDefault()"> 
                               @*<a class=""><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></a> *@
                               <a target="_blank" href="@targetArchivo.url" >@targetArchivo.nombre</a> 
                               <div class="info-add-files_tareas">&nbsp;@targetArchivo.fechaCreacion - @targetArchivo.usuario</div>                  
                               <a href="@Url.Action("_deleteFileTarea", new {filename = targetArchivo.fileName, id = ViewBag.ID})" class="pull-right delete-file" style =" color:red; margin-top: -25px;"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                           </div> 
                      
                        }
                    }else {
                        <div style="text-align: center;font-style: italic;font-size: 12px;color: gray;">
                            No se encontrarón archivos adjuntos.
                        </div>
                    }
                    
                    </div> 
               </div>
               
           </div>

           
       </div>
                   
                 
    </div>
<script type="text/javascript">
    var $btnlistFiles;
    $(function () {
        $btnlistFiles = $('#btnListFiles');
        $btnlistFiles.on("click", function () {
            $('#Fileslist').toggle();
        });

        $('.delete-file').on('click', function (e) {
            e.preventDefault();
            var $file = $(this);
            if (confirm('¿Esta seguro que desea eliminar este archivo? ADVERTENCIA: Esta operación no podra deshacerse.'))
                $file.sendData({
                    overwriteURL: $file.attr("href"),
                    success: function (result, file) {
                        $('#group-' + file).remove();
                    }
                });
        });
    });
    $('#Fileslist').toggle();
</script>

