@model Modificar_TareaModel
@{
    IEnumerable<SelectListItem> lstRoles = ViewBag.Roles;
    
     List<SelectListItem> responsableEjecucion = new List<SelectListItem>();
    responsableEjecucion.Add(new SelectListItem() { Text = "Sofy", Value = "Sofy", Selected = true });
    responsableEjecucion.Add(new SelectListItem() { Text = "Sofy", Value = "Sofy", });
    responsableEjecucion.Add(new SelectListItem() { Text = "Sofy", Value = "Sofy", });
    responsableEjecucion.Add(new SelectListItem() { Text = "Sofy", Value = "Sofy", });
    responsableEjecucion.Add(new SelectListItem() { Text = "Sofy", Value = "Sofy", });
    responsableEjecucion.Add(new SelectListItem() { Text = "Sofy", Value = "Sofy", });
    responsableEjecucion.Add(new SelectListItem() { Text = "Sofy", Value = "Sofy", });
    responsableEjecucion.Add(new SelectListItem() { Text = "Sofy", Value = "Sofy", });
    
     List<SelectListItem> progreso = new List<SelectListItem>();
    progreso.Add(new SelectListItem() { Text = "0", Value = "0", Selected = true });
    progreso.Add(new SelectListItem() { Text = "10", Value = "10", });
    progreso.Add(new SelectListItem() { Text = "20", Value = "20", });
    progreso.Add(new SelectListItem() { Text = "30", Value = "30", });
    progreso.Add(new SelectListItem() { Text = "40", Value = "40", });
    progreso.Add(new SelectListItem() { Text = "50", Value = "50", });
    progreso.Add(new SelectListItem() { Text = "60", Value = "60", });
    progreso.Add(new SelectListItem() { Text = "70", Value = "70", });
    progreso.Add(new SelectListItem() { Text = "80", Value = "80", });
    progreso.Add(new SelectListItem() { Text = "90", Value = "90", });
    progreso.Add(new SelectListItem() { Text = "100", Value = "100", });
        
  }

<script src="@BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js-partialview")" type="text/javascript"></script>

@using (Html.BeginForm("Modificar", "Tarea", null, FormMethod.Post, new {@class="form-horizontal", role="form", id="ModificarTareaFormId"}))
{
    @Html.FormularioFor("#ModificarTareaFormId"
        ).AddFieldFor(m => m.orden
        ).AddFieldFor(m => m.titulo
        ).AddFieldFor(m => m.descripcion, new JFOptionsFields().SetRowsTextArea(3).SetClassHTML("textarea-noresize")
        ).AddFieldFor(m => m.responableEjecucion, new JFOptionsFields().SetIsInline(false).loadItems(responsableEjecucion.AsEnumerable())
        ).AddFieldFor(m => m.recursosAsignados, new JFOptionsFields().SetRowsTextArea(3).SetClassHTML("textarea-noresize")
        ).AddFieldFor(m => m.fechaFin
        ).AddFieldFor(m => m.progreso, new JFOptionsFields().SetIsInline(false).loadItems(progreso.AsEnumerable())
        ).AddFieldFor(m => m.personasInvolucradas
        );
}

<hr/>
  <div class="row">

      <div class="col-md-3" style ="text-align:right">
      <label> Archivos Adjuntos </label> 
      </div>
       <div class="col-md-9">
           <div class="row">
               <div class ="col-md-12">
                   <div class =" panel panel-default">
                       <div class="panel-heading"> &nbsp;
                            <a id="btnAdd" type="button"class="btn btn-success btn-xs pull-right"> 
                            <span class="glyphicon glyphicon-plus"></span> Agregar Archivo   
                            </a>
                       </div>
                   </div>     
               </div>  
           </div>
           <div class="row">
               <div class="col-md-12">
                    <div   class="list-group">
                    @if (Model.archivos != null && Model.archivos.Count > 0) 
                    {
                        foreach (var targetArchivo in Model.archivos)
                        { 
                            
                           <div class="list-group-item"> 
                               <a class=""><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></a> 
                               &nbsp;&nbsp;&nbsp;
                               <a href="@targetArchivo.url" >@targetArchivo.nombre</a> 
                                                              
                               <a class=" pull-right" style =" color:red"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a> 
                              


                           </div> 
                      
                        }
                    }else {
                        <div style="text-align: center;font-style: italic;font-size: 12px;color: gray;">
                            No se encontrarón archivos adjuntos.
                        </div>
                    }
                    
                    </div> 
               </div>
               
           </div>

           
       </div>
                   
                 
    </div>



<hr/>
  <div class="row">

      <div class="col-md-3" style ="text-align:right">
      <label> Comentarios </label> 
      </div>
       <div class="col-md-9">
           <div class="row">
               <div class ="col-md-12">
                   <div class =" panel panel-default">
                       <div class="panel-heading"> &nbsp;
                            <a id="btnAdd" type="button"class="btn btn-success btn-xs pull-right"> 
                            <span class="glyphicon glyphicon-plus"></span> Agregar Comentario   
                            </a>
                       </div>
                   </div>     
                   
               </div>
           </div>
           <br />    
           <div class="row">
               <div class="col-md-12">    
                <div   class="list-group ">
                    @if (Model.comentarios != null && Model.comentarios.Count > 0) 
                    {
                        foreach (var targetComentario in Model.comentarios)
                        { 
                            
                           <div class="list-group-item"> 
                               <label>@targetComentario.usuario</label>
                               <br/>
                               <p>@targetComentario.texto</p>                              
                           </div> 
                      
                        }
                    }else {
                        <div style="text-align: center;font-style: italic;font-size: 12px;color: gray;">
                            No se encontrarón comentarios.
                        </div>
                    }
                    
                </div> 
               </div>
           </div>          
       </div>
    </div>