<!DOCTYPE html>
<html lang="es-sv">
<head>
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SICACI</title>
    <link href="@BundleTable.Bundles.ResolveBundleUrl("~/Content/css-sicaci")" rel="stylesheet" type="text/css" />
    <script src="@BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js-jQuery")" type="text/javascript"></script>
</head>
<body class="inicio-sesion-background">
    @*<div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SICACI - ALPHA v1.0", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>*@
    <div class="container body-content">
        @RenderBody()
    </div>

    
    <script src="@BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js-BootStrap")" type="text/javascript"></script>
    @RenderSection("Scripts", false)
</body>
</html>