<!DOCTYPE html>
<html lang="es-sv">
<head>
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SICACI</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="@BundleTable.Bundles.ResolveBundleUrl("~/Content/css-sicaci")" rel="stylesheet" type="text/css" />
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet" />
    <script src="@BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js-jQuery")" type="text/javascript"></script>
    <script src="@BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js-BootStrap")" type="text/javascript"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Desplegar navegación</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">SICACI <span style="font-size:11px">Alpha v0.1</span></a>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            @Html.Action("TopMenuBar")
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>

    
    @RenderSection("Scripts", false)
</body>
</html>