@model TDG_SICACI.Models.Ej1ViewModel
@{
    ViewBag.Title = "CreaPregunta";
    Layout = "~/Views/Shared/_LayoutAnonimo.cshtml";
}

<h2>Formulario para Crear Pregunta</h2>

@*<div>@ViewBag.Name</div>

@foreach (string l in ViewBag.Nombres) {
    <div>@l</div>
}*@

@using (Html.BeginForm("GuardarPregunta", "SelfA", null, FormMethod.Post, new {@class="form-horizontal", role="form", id="demoForm"}))
{
    @*<div class="form-group">
    @Html.LabelFor(a => a.Pregunta)
    <div class="col-lg-10">
    @Html.TextBoxFor(a => a.Pregunta)
        </div>
        </div>

    <div class="form-group">
    @Html.LabelFor(a => a.Respuesta)
        <div class="col-lg-10">
    @Html.TextBoxFor(a => a.Respuesta)
            </div>
        </div>*@
    
    @Html.FormularioFor("#demoForm").AddFieldFor(m => m.Pregunta).AddFieldFor(m => m.Respuesta
        ).AddButton(new JFFormButton("btnSend", "Send", JFFormButton.JFTipoBoton.Primary, false, "col-lg-8 col-lg-offset-4").SetForm("#demoForm"))

    <div class="col-lg-8 col-lg-offset-4">Esto es una prueba</div>

}