@model TDG_SICACI.Models.DashboardModel

 @{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Dashboard</h2>


<div class="row">
    <div class="col-md-12 col-sm-12"> 
  
    	<div class="panel panel-default">
    		<div class="panel-heading">
      			<h3 class="panel-title">
      				Findings sin Resolver
      			</h3>
    		</div>
    		<div class="panel-body" style="max-height:250px; min-height:250px; overflow-y:scroll;">
                
  @if (Model.FindingsSinResolver != null && Model.FindingsSinResolver.Count > 0)
    {
      <ul style="list-style: none; margin: 0; padding: 0;">         
      @foreach (var targetFinding in Model.FindingsSinResolver)
       {
        <li class="left clearfix">
            <a href="/Finding/Consultar?ID=@targetFinding.id" style="color: inherit; text-decoration: none;">
                <div class="clearfix">
                    @if (targetFinding.tipoCorreccion == "Inmediata") 
                    { 
                      <span class="label label-danger pull-right">@targetFinding.tipoCorreccion</span>
                    }
                    else
                    {
                      <span class="label label-warning pull-right">@targetFinding.tipoCorreccion</span>
                    }
                    <strong class="primary-font">@targetFinding.tipoNoConformidad</strong>
                    <p>@targetFinding.comentario</p>
                    <small class="pull-right text-muted">Fecha Limite: @targetFinding.fechaLimite</small>
                </div>
                <hr />
            </a>
        </li>
       }
       </ul>                            
    }
    else
        {
            <p>No hay Findings para mostrar</p>
        }

            </div>
  		</div>
    </div>
  </div>

<div class="row">
    <div class="col-md-6 col-sm-6">
    	<div class="panel panel-default">
    		<div class="panel-heading">
      			<h3 class="panel-title">
      				Mis Tareas Incompletas
      			</h3>
    		</div>
    		<div class="panel-body" style="max-height:250px; min-height:250px; overflow-y:scroll;">
  @if (Model.MisTareasIncompletas != null && Model.MisTareasIncompletas.Count > 0)
    { 
        <ul style="list-style: none; margin: 0; padding: 0;">
        @foreach (var targetTarea in Model.MisTareasIncompletas)
        {
         <li>
         @*//TODO: Arreglar link para que abra la vista de editar tarea (sacar del modal el modificar tarea)*@
         <a href="@targetTarea.id" style="color: inherit; text-decoration: none;">
            <div class="clearfix">
                <div class="header">
                    <small class="pull-right text-muted"> Fecha prevista de Finalización: @targetTarea.fechaFin </small>
                    <strong class="primary-font">@targetTarea.titulo</strong>
                </div>
                <p>@targetTarea.descripcion</p>
                <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="@targetTarea.progreso" aria-valuemin="0" aria-valuemax="100" style="width: @targetTarea.progreso%;">@targetTarea.progreso%</div>
                </div>
            </div>
            <hr />
         </a>
         </li>
        }
        </ul>
    }
  else
    {
      <p>No hay Tareas para mostrar</p>
    }                        
            </div>
  		</div> 
    </div>

    <div class="col-md-6 col-sm-6"> 
    	<div class="panel panel-default">
    		<div class="panel-heading">
      			<h3 class="panel-title">
      				 Mis Proyectos sin Terminar
      			</h3>
    		</div>
    		<div class="panel-body" style="max-height:250px; min-height:250px; overflow-y:scroll;">
  @if (Model.MisProyectosSinTerminar != null && Model.MisProyectosSinTerminar.Count > 0)
  {
      <ul style="list-style: none; margin: 0; padding: 0;">
        @foreach (var targetProyecto in Model.MisProyectosSinTerminar) 
        {
         <li class="left clearfix">
         <a href="/proyecto/Consultar?ID=@targetProyecto.id" style="color: inherit; text-decoration: none;">
            <div class="chat-body clearfix">
                <div class="header">
                    <small class="pull-right text-muted">
                        Fecha de Inicio:@targetProyecto.fechaInicio 
                        <br/> 
                        Fecha de Finalización: @targetProyecto.fechaFinalizacion
                    </small>
                    <strong class="primary-font">@targetProyecto.nombre</strong>
                </div>
                <p>Responsable de Aprobacion: @targetProyecto.responableAprobacion </p>
                                <small class="pull-right label label-default">@targetProyecto.aprobacion</small><br/>
            </div>
            <hr />
        </a>
        </li>   
        }                               
    </ul>
  }
  else
  {
      <p>No hay Proyectos para mostrar</p>
  }

    		</div>
  		</div>
    </div>
  </div>


<div class="row">
    <div class="col-md-8 col-sm-8">
    	<div class="panel panel-default">
    		<div class="panel-heading">
      			<h3 class="panel-title">
      				Resultados de Evaluaciones
      			</h3>
    		</div>
    		<div class="panel-body" style="max-height:250px; min-height:250px;">
                
                  <div id="chartContainer" style="height: 250px; width: 100%;"></div>

            </div>
  		</div> 
    </div>
    
    <div class="col-md-4 col-sm-4"> 
    	<div class="panel panel-default">
    		<div class="panel-heading">
      			<h3 class="panel-title">
      				Evaluaciones sin Revisar
      			</h3>
    		</div>
    		<div class="panel-body" style="max-height:250px; min-height:250px; overflow-y:scroll;">
  @if (Model.EvaluacionesSinRevisar != null && Model.EvaluacionesSinRevisar.Count > 0)
  {
    <ul style="list-style: none; margin: 0; padding: 0;">
        @foreach (var targetEvaluacionSinRevisar in Model.EvaluacionesSinRevisar) 
        {
         <li class="left clearfix">
         <a href="/Evaluacion/Consultar?revision=@targetEvaluacionSinRevisar.id" style="color: inherit; text-decoration: none;">
            <div class="chat-body clearfix">
                <div class="header">
                    <strong class="primary-font">@targetEvaluacionSinRevisar.fechaCreacion</strong>
                    <small class="pull-right text-muted">Revision: @targetEvaluacionSinRevisar.revision</small>
                </div>
                <p> @targetEvaluacionSinRevisar.comentario  </p>
        </div>
        <hr />
        </a>
        </li>   
        }
    </ul>
  }
  else
  {
      <p>No hay Evaluacion sin revisar para mostrar</p>
  }

    		</div>
  		</div>
    </div>
  </div>


<div class="row">
    
    <div class="col-md-5 col-sm-5"> 
    	<div class="panel panel-default">
    		<div class="panel-heading">
      			<h3 class="panel-title">
      				Proyectos sin Aprobar
      			</h3>
    		</div>
    		<div class="panel-body" style="max-height:250px; min-height:250px; overflow-y:scroll;">
  @if (Model.ProyectosSinAprobar != null && Model.ProyectosSinAprobar.Count > 0)
  {
       <ul style="list-style: none; margin: 0; padding: 0;">
       @foreach (var targetProyectoSinAprobar in Model.ProyectosSinAprobar)
       {
            <li class="left clearfix">
            <a href="/proyecto/Consultar?ID=@targetProyectoSinAprobar.id" style="color: inherit; text-decoration: none;">
                <div class="clearfix">
                    <div class="header">
                        <small class="pull-right text-muted"> Fecha de Inicio: @targetProyectoSinAprobar.fechaInicio </small>
                        <strong class="primary-font">@targetProyectoSinAprobar.nombre</strong>
                    </div>
                    <p>
                        Responsable de Aprobacion: @targetProyectoSinAprobar.responableAprobacion 
                        <br/>
                        Responsable de Ejecucion: @targetProyectoSinAprobar.responableEjecucion
                    </p>
                </div>
            <hr />
            </a>
            </li>
       }
       </ul>
  }
  else
  {
            <p>No hay Proyectos sin aprobar para mostrar</p>
  }        
             </div>
  		</div>
    </div>

     <div class="col-md-7 col-sm-7">
    	<div class="panel panel-default">
    		<div class="panel-heading">
      			<h3 class="panel-title">
      				Proyectos en Ejecucion
      			</h3>
    		</div>
    		<div class="panel-body" style="max-height:250px; min-height:250px; overflow-y:scroll;">
  @if (Model.ProyectosEnEjecucion != null && Model.ProyectosEnEjecucion.Count > 0)
  {
      <ul style="list-style: none; margin: 0; padding: 0;">
      @foreach (var targetProyectoEnEjecucion in Model.ProyectosEnEjecucion) 
      {
        <li class="left clearfix">
        <a href="/proyecto/Consultar?ID=@targetProyectoEnEjecucion.id" style="color: inherit; text-decoration: none;">
            <div class="clearfix">
                <div class="header">
                    <small class="pull-right text-muted"> Fecha de Inicio: @targetProyectoEnEjecucion.fechaInicio </small>
                    <strong class="primary-font">@targetProyectoEnEjecucion.nombre</strong>
                    <br/>
                    <p> Responable de Ejecucion: @targetProyectoEnEjecucion.responableEjecucion</p>
                </div>
                <div class="progress"><div class="progress-bar" role="progressbar" aria-valuenow="@targetProyectoEnEjecucion.progreso" aria-valuemin="0" aria-valuemax="100" style="width: @targetProyectoEnEjecucion.progreso%;"> @targetProyectoEnEjecucion.progreso%</div></div>
            </div>
            <hr />
       </a>
       </li>                      
      }
      </ul>
  }
  else
  {
            <p>No hay Proyectos sin aprobar para mostrar</p>
  }
             </div>
  		</div> 
    </div>
   
  </div>

               <script type="text/javascript">
                   window.onload = function () {
                       var chart = new CanvasJS.Chart("chartContainer",
                       {
                           backgroundColor: "transparent",
                           toolTip: {
                               enabled: true,   //enable here
                               borderColor: "transparent"   //change color 

                           },
                           axisX: {
                               title: "Revisiones",
                               gridThickness: 1
                           },
                           axisY: {
                               title: "Puntuación",
                               interval: 20,
                               maximum: 100
                           },
                           data: [
                         {
                             type: "area",
                             color: "#bf3e11",
                             dataPoints: [//array
                             @if (Model.ResultadosDeEvaluaciones != null && Model.ResultadosDeEvaluaciones.Count > 0)
                             {
                                 foreach (var targetResultadoDeEvaluacion in Model.ResultadosDeEvaluaciones)
                                 {
                                    <text>{ x:@targetResultadoDeEvaluacion.revision , y: @targetResultadoDeEvaluacion.puntuacion },</text>
                                 }
                                }
                             ]
                         }
                           ]
                       });

                       chart.render();
                   }
  </script>

      <script type="text/javascript" src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>
