@model TDG_SICACI.Models.Consultar_EvaluacionModel

 @{
    ViewBag.Title = "Consultar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string urlAgregarFinding = string.Format("data-toggle=\"modal\" data-jf-load=\"{0}\"", Url.Action("AgregarFinding"));  

}
<style type="text/css">
 .botonFlotanteDerecho {
        position:fixed;
        top:60px; 
        right:10px;
        z-index: 100;
}
</style>

<script type="text/javascript" src="../../Scripts/jquery.tooltipster.js"></script>

<br/>
<a href="@Url.Action("Index")" class="btn btn-default" role="button">  <span class="glyphicon glyphicon-chevron-left"></span></a>

<h2>Consultar Evaluacion</h2>

<br/>
<hr/>



<div class="row">

  <div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Revisión:</strong>
        </div>
        <div class="panel-body">
            @Model.revision
        </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Fecha de Creación:</strong>
        </div>
        <div class="panel-body">
            @Model.fechaCreacion
        </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Comentario de la Evaluacion:</strong>
        </div>
        <div class="panel-body">
            @Model.comentario
        </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Usuario:</strong>
        </div>
        <div class="panel-body">
            @Model.idUsuario
        </div>
    </div>
  </div>
</div>
<hr/>


<div class="col-md-12">
 <div>
        @if (Model.incisos != null && Model.incisos.Count > 0)
        {
            <ul class="nav nav-tabs">
            @foreach (var targetInciso in Model.incisos)
            {
                if (Model.incisos.First() == targetInciso) 
                    {
                    <li class="active"><a data-toggle="tab" href="#@targetInciso.titulo.Replace(" ","")">@targetInciso.titulo</a></li>
                    }
                else
                    {
                    <li><a data-toggle="tab" href="#@targetInciso.titulo.Replace(" ","")">@targetInciso.titulo</a></li>
                    }
            }
            </ul>
            <div class="tab-content">
             @foreach (var targetInciso in Model.incisos)
            {
                var panelClass = "tab-pane fade";
                if (Model.incisos.First() == targetInciso) 
                {
                    panelClass = "tab-pane fade in active";
                }    
               <div id="@targetInciso.titulo.Replace(" ","")" class="@panelClass">
               <br />    
                @foreach (var targetPregunta in targetInciso.preguntas) 
                    {
                    <div id="@targetPregunta.id">
                        
                        <p>
                            <strong>@targetPregunta.interrogante</strong>
                            <br />
                            @targetPregunta.respuesta
                        </p>
                    
                        <div class="pull-right" style="text-align:right">
                        @if(targetPregunta.resultado == "")
                        {
                            <label class="radio-inline">
                                <input type="radio" name="resultadoRadio-@targetPregunta.id" id="IncorrectoRadio-@targetPregunta.id" value="Incorrecto"> Incorrecto
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="resultadoRadio-@targetPregunta.id" id="CorrectoRadio-@targetPregunta.id" value="Correcto"> Correcto
                            </label>  
                        }
                        else if (targetPregunta.resultado == "Correcto")
                        {                            
                            <span class="label label-success">Correcto</span>
                        }
                        else if (targetPregunta.resultado == "Incorrecto")
                        {                            
                            <span class="label label-danger">Incorrecto</span>
                        }
                        </div> 
                    </div>
                        <br />                   
                        <hr />
                    }
                </div>
            }
            </div>

        }
</>
</div>


<button data-jerti-form="" id="btnAgregarFinding" class="btn btn-success btn-md pull-right botonFlotanteDerecho" data-toggle="modal" data-jf-load="/Evaluacion/AgregarFinding" data-jf-modal="#modalAgregarFinding"><span class="glyphicon glyphicon-plus"></span> Agregar Finding</button>

@Html.bootstrapModal("modalAgregarFinding"     , "Agregar Finding", "#btnAgregarFinding")

